.orphanagesMap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;

  aside {
    max-width: 440px;
    padding: 80px;
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      h1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 42px;
        margin-top: 64px;
      }

      p {
        margin-top: 24px;
        line-height: 28px;
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      line-height: 24px;

      strong {
        font-weight: 800;
      }
    }
  }

  main {
    width: 100%;

    a {
      position: absolute;
      right: 40px;
      bottom: 40px;
      width: 64px;
      height: 64px;
      background: #15c3d6;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.4s;

      &:hover {
        background-color: #17d6eb;
      }
    }
  }
}
